* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

body {
    background-color: goldenrod;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px goldenrod;
}

p {
    text-align: justify;
}

button {
    background-color: ivory;
}

button.hover {
    transition-delay: 10ms;
    background-color: rgb(63, 63, 63);
}